

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: url(./assets/login-bg.png) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 800px;
    max-height: 90vh;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

h3 {
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 10px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 1.2em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    border-bottom: 3px solid #fff;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 40px;
    border: none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
}

button:hover {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}